<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <h5>商品詳細</h5>
            <form>
              <label for="id" class="col-sm-2 col-form-label"></label>
                <%= attachment_image_tag @item, :image %>
              </br>
              <label for="id" class="col-sm-2 col-form-label">商品名</label>
                <%= @item.name %>
              </br>
              <label for="name" class="col-sm-2 col-form-label">商品説明</label>
                <%= @item.introduction %>
              </br>
              <label for="name_kana" class="col-sm-2 col-form-label">ジャンル</label>
                <%= @item.genre.name %>
              </br>
              <label for="postal_code" class="col-sm-2 col-form-label">税込価格(税抜価格)</label>
                <%= @item.price %>円
              </br>
              <label for="address" class="col-sm-2">販売ステータス</label>
              <% if @item.is_active == true %>
              販売中
              <% else %>
              販売停止中
              <% end %>
              </br>
      <div class="col-2">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</main>