<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= form_with model: @cart, url:customers_cart_items_path, local:true do |f| %>
        <%= attachment_image_tag @item, :image, format: 'jpeg', size:"200x200", fallback: "no_image.jpg" %>
        <h3><%= @item.name %></h3>
        <h5><%= @item.introduction %></h5>
        <h5>¥<%= @item.price %>(税込)</h5>
        <div class="form-group">
    　　　<label for="amount"></label>
    　　    <%= f.select :amount, [['個数選択'],['1',1], ['2',2], ['3',3],['4',4], ['5',5]] %>
        </div>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</main>