<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-2"></div>
        <%= form_with model: @cart, url:customers_cart_items_path, local:true do |f| %>
        <%= attachment_image_tag @item, :image, format: 'jpeg', size:"200x200", fallback: "no_image.jpg" %>
        <div class="p-1"></div>
        <form>
        <label for="name" class="col-sm-2"></label>
        　<%= @item.name %>
        </br>
        <label for="introduction" class="col-sm-2"></label>
        　<%= @item.introduction %>
        </br>
        <label for="price" class="col-sm-2"></label>
          ¥<%= @item.price %>(税込)
        </br>
        <div class="form-group">
          <label for="amount" class="col-sm-2"></label>
    　　    <%= f.select :amount, [['1',1], ['2',2], ['3',3],['4',4], ['5',5]] %>
    　　    <%= f.submit "カートに入れる", class: "btn btn-success" %>
        </div>
        </br>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <% end %>
      </div>
    </div>
  </div>
</main>